@import "tailwindcss";

:root {
        --bg-primary: 0, 0%, 100%;
        --bg-secondary: 243, 245, 246;
        --bg-card: 40, 56%, 97%;
        --text-primary: 33, 33, 33;
        --text-secondary: 0, 0%, 31%;
        --accent-primary: 359, 100%, 65%;
    }
.dark {
        --bg-primary: 0, 0%, 2%;
        --bg-secondary: 20, 20, 20;
        --bg-card: 0, 0%, 11%;
        --text-primary: 255, 255, 255;
        --text-secondary: 0, 0%, 85%;
        --accent-primary: 359, 100%, 65%;
    }
    *{
        @apply box-border;
}
html{
    scroll-behavior: smooth;
}
body{
        @apply bg-bg-secondary transition duration-200 ease-in;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
@theme {
    --color-bg-primary: hsl(var(--bg-primary));
    --color-bg-secondary: rgb(var(--bg-secondary));
    --color-bg-card: hsl(var(--bg-card));
    --color-text-primary: rgb(var(--text-primary));
    --color-text-secondary: hsl(var(--text-secondary));
    --color-accent-primary: hsl(var(--accent-primary));

    --animate-slideInUp: slideInUp 1s ease-out forwards;
}
@utility base {
    @keyframes slideInUp {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    } 
}

@utility iconHover{
    @apply cursor-pointer bg-accent-primary;
    transform: scaleY(2px);
    transition: transform, background 0.2s ease-in;
}
@utility socialIcon{
    @apply text-text-primary w-5 h-5 md:w-6 md:h-6;
}
@utility heading{
    @apply text-text-primary font-semibold text-2xl leading-tight sm:text-3xl lg:text-4xl;
}
@utility center{
    @apply top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4;
}
@utility sectionCenter{
    @apply pt-15 px-3.5 lg:px-25;
}
@utility expHover{
    @apply hover:-translate-y-2 transform transition-all duration-300 ease-out;
    
}
@utility cardShadow{
    @apply hover:shadow-[0_12px_40px_-12px_theme(colors.text.primary/0.4)];
}
@utility cardGradient{
   background-image:  repeating-linear-gradient(
    -45deg,
    color-mix(in hsl, var(--color-bg-card), transparent) 1px,
    transparent 40px
  );
  background-size: contain;
}